<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-3">
            <a href="{{url_for('main.view_product', id=product.id)}}">
            <img src="{{product.img}}" class="img-fluid rounded-start" alt="Picture of {{product.name}}.">
            </a>
        </div>
        <div class="col-md-9">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <a href="{{url_for('main.view_product', id=product.id)}}">
                    <h2 class="card-title">{{product.name.title()}}</h2>
                    </a>
                    <a class="btn btn-danger" href="{{url_for('main.add_to_cart', id=product.id)}}">Add to Cart&nbsp;<i class="bi bi-plus-square"></i></a>
                </div>
                <h3 class="card-text">{{"${:,.2f}".format(product.price)}}</h3>
                <p class="card-text text-truncate">{{product.desc}}</p>
                <a class="view_more" href="{{url_for('main.view_product', id=product.id)}}">View More Details</a><br>
            </div>
        </div>
    </div>
</div>
