{% extends "base.html.j2" %}

{% block css %}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}

{% block title %}
Home
{% endblock %}

{% block content %}
<div class="row mt-5">
    <div class="col-md-5 my-4 mx-4">
        <img id="lefty" src="https://res.cloudinary.com/detcvmtip/image/upload/v1657059080/ecommerce_images/Golfer-PNG-Transparent_oagyad.png" alt="Phil Mickelson.">
    </div>
    <div id="intro" class="col-md-6 my-4 me-4">
        <h1>Welcome to Democracy Depot!</h1>
        <p>Here at Democracy Depot, we strive to provide all the necessary tools to spread and maintain democracy. If you're in need of something that's not listed, please don't hesitate to reach out to one of our dedicated sales representatives. For the right price, we'll sell you anything!
        <br>
        <br>
        NOTE: This is a satirical e-commerce store mocking the goods and services that the US Government provides to international and domesitc partners in the name of "spreading and maintaining democracy."
        </p>
    </div>
</div>
{% endblock %}