{% extends "base.html.j2" %}

{% block css %}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}

{% block title %}
Home
{% endblock %}

{% block content %}
<div class="row mt-5">
    <div id="intro" class="col-md-7 my-4 ms-4">
        <h1>Welcome to Golf Depot!</h1>
        <p>Golf Depot is a one-stop shop to get you ready for your next round of golf. Whether your a beginner or professional, Golf Depot has the gear you need to shave a few strokes off your score!</p>
    </div>
    <div class="col-md-4 my-4 mx-4">
        <img id="rory" src="https://res.cloudinary.com/detcvmtip/image/upload/v1657116757/ecommerce_images/rory_xrsoyh.png" alt="Rory McIlroy.">
    </div>
</div>
{% endblock %}